<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rabbit Rewards" parallel="false" thread-count="2">

	<test verbose="1" name="End to End Scenario - 1">
		<parameter name="Browser" value="Chrome"/>
		<classes>
		<class name="com.rabbitmtls.testcase.leads.MTLS_001_LeadCreation_SaveNowTop" />
		</classes>
	</test>

	
</suite> 
