<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rabbit Rewards" parallel="false" thread-count="2">

	<test verbose="1" name="Cigna Travel">
		<parameter name="Browser" value="Chrome"/>
		<classes>
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_001_Lead_NextDay" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_002_Lead_90Days" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_003_Lead_SaveFromCenterButton" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_004_Lead_SaveFromCenterSelect" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_005_Lead_SaveFromBottomButton" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_006_Lead_SaveFromBottomSelect" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_007_CreatedDateFilter" />
			<class name="com.rabbitcigna.testcase.cignatravel.CignaTravel_008_CreatedDateFilterFutureDate" />
		</classes>
	</test>

	
</suite> 
